/* -----------------------------------------------------------------
    - Dark Skin Styles
----------------------------------------------------------------- */
body {
  background-color: #272333;
  color: #DEDDE0;
}

.input, .textarea, select,
.custom-select {
  background-color: #2C283A;
  border: 1px solid #2C283A;
  color: #fff;
}

.input:focus, .textarea:focus, select:focus,
.custom-select:focus {
  background-color: #272333;
  color: #fff;
}

.input--white {
  background-color: #2C283A;
}
.input--white:focus {
  background-color: #2C283A;
}

.textarea--white {
  background-color: #2C283A;
}
.textarea--white:focus {
  background-color: #2C283A;
}

.form-group .font-icon {
  color: rgba(222, 221, 224, 0.5);
}

.form-control::-webkit-input-placeholder {
  color: rgba(222, 221, 224, 0.5);
}

.form-control::-moz-placeholder {
  color: rgba(222, 221, 224, 0.5);
}

.form-control:-ms-input-placeholder {
  color: rgba(222, 221, 224, 0.5);
}

.form-control::-ms-input-placeholder {
  color: rgba(222, 221, 224, 0.5);
}

.form-control::placeholder {
  color: rgba(222, 221, 224, 0.5);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #2C283A !important;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  border-color: #8697A8;
}

.custom-control-label::before {
  border: 1px solid #8697A8;
}

select,
.custom-select {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23fff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.1rem center/10px 16px;
}
select option,
.custom-select option {
  color: #fff;
}

.dropdown-menu {
  background-color: #2C283A;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.1);
  color: #DEDDE0;
}
.dropdown-menu::before {
  border-bottom: 0.4rem solid #2C283A;
}
.dropdown.dropup .dropdown-menu::before {
  border-top: 0.4rem solid #2C283A;
}

.progress {
  background-color: #302C40;
}

.badge--blue {
  color: #fff;
}

.badge--dark, .badge--gray {
  background-color: #272333;
  color: #fff;
}

.tooltip-inner {
  background-color: #302C40;
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.25), 0px 2px 32px rgba(0, 0, 0, 0.5);
}

.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: #302C40;
}

.bs-tooltip-right .arrow::before,
.bs-tooltip-auto[x-placement^="right"] .arrow::before {
  border-right-color: #302C40;
}

.bs-tooltip-left .arrow::before,
.bs-tooltip-auto[x-placement^="left"] .arrow::before {
  border-left-color: #302C40;
}

.bs-tooltip-bottom .arrow::before,
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: #302C40;
}

/* -----------------------------------------------------------------
    - Typography
----------------------------------------------------------------- */
.title {
  color: #F1F2F4;
}

.color--light {
  color: rgba(241, 242, 244, 0.5);
}

.block-quote__author::before {
  background-color: #F0F0F6;
}

/* -----------------------------------------------------------------
    - Preloader
----------------------------------------------------------------- */
.preloader {
  background-color: #272333;
}

/* -----------------------------------------------------------------
    - Sidebar
----------------------------------------------------------------- */
.contacts-block {
  margin-bottom: 1rem;
}
.contacts-block__item a {
  color: #DEDDE0;
}

/* -----------------------------------------------------------------
    - Sections
----------------------------------------------------------------- */
.box {
  background-color: #302C40;
}
.box__second {
  background-color: #2C283A;
}

.box-inner {
  background-color: transparent;
  padding-top: .7rem;
}
.box-inner::before, .box-inner::after {
  background-color: transparent;
}

.shadow {
  box-shadow: 0px 40px 50px rgba(32, 29, 42, 0.75) !important;
}
.shadow::before {
  box-shadow: 0px 40px 50px rgba(32, 29, 42, 0.75);
}

.avatar--180 {
  filter: drop-shadow(0px 24px 24px rgba(32, 29, 42, 0.7));
}
.avatar--80 {
  filter: drop-shadow(0px 8px 24px rgba(32, 29, 42, 0.75)) drop-shadow(0px 4px 4px rgba(32, 29, 42, 0.75));
}
.avatar--60 {
  filter: drop-shadow(0px 8px 24px rgba(32, 29, 42, 0.75)) drop-shadow(0px 4px 4px rgba(32, 29, 42, 0.75));
}

.social__link {
  color: #fff;
}

/* -----------------------------------------------------------------
    - Navbar
----------------------------------------------------------------- */
@media only screen and (max-width: 580px) {
  .nav {
    color: #fff;
    background-color: #302C40;
  }
}
@media only screen and (max-width: 580px) {
  .nav__item a {
    color: rgba(255, 255, 255, 0.8);
  }
  .nav__item a:hover {
    color: white;
  }
}
@media only screen and (max-width: 580px) {
  .nav__item a.active {
    color: #fff;
  }
}

/* -----------------------------------------------------------------
    - Cases
----------------------------------------------------------------- */
.case-item__caption {
  color: #DEDDE0;
}

/* -----------------------------------------------------------------
    - Testimonials
----------------------------------------------------------------- */
.review-item, .pricing-item.content-box {
  background-color: #2C283A;
}
.review-item__caption, .pricing-item.content-box .name {
  color: #DEDDE0;
}

body .swiper-pagination-bullet {
  background: #272333;
}

/* -----------------------------------------------------------------
    - Timeline
----------------------------------------------------------------- */
.timeline__item {
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}
.timeline__period {
  color: rgba(222, 221, 224, 0.5);
}

/* -----------------------------------------------------------------
    - Portfolio
----------------------------------------------------------------- */
.gallery-grid__category {
  color: rgba(222, 221, 224, 0.5);
}

@media only screen and (min-width: 769px) {
  .filter__link {
    color: rgba(222, 221, 224, 0.5);
  }
}
@media only screen and (max-width: 768px) {
  .select {
    background-color: #272333;
    color: #DEDDE0;
  }
  .select ul {
    background-color: #302C40;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.25);
  }
  .select ul li {
    color: #DEDDE0;
  }
  .select ul li a {
    color: #DEDDE0;
  }
}
/* -----------------------------------------------------------------
    - News
----------------------------------------------------------------- */
.news-item {
  background-color: #2C283A;
  box-shadow: none;
}
.news-item:hover {
  box-shadow: none;
}
.news-item__date {
  background-color: #2C283A;
  color: #DEDDE0;
}
.news-item p {
  color: #DEDDE0;
}

/* -----------------------------------------------------------------
    - Single post
----------------------------------------------------------------- */
.header-post__date {
  color: rgba(222, 221, 224, 0.7);
}

.caption-post p {
  color: #DEDDE0;
}

.gallery-post__caption {
  color: rgba(222, 221, 224, 0.7);
}
.gallery-post__caption a {
  color: #dedde0;
}

.footer-post::before {
  background-color: rgba(255, 255, 255, 0.6);
}
.footer-post__share {
  color: #fff;
}

.comment-box__inner {
  background-color: #2C283A;
}
.comment-box__body {
  color: #DEDDE0;
}
.comment-box__details {
  color: #fff;
}
.comment-box__details-date {
  color: rgba(222, 221, 224, 0.3);
}
.comment-box__footer {
  color: rgba(222, 221, 224, 0.5);
}
.comment-form .icon-smile {
  color: rgba(222, 221, 224, 0.5);
}
.comment-form .icon-smile:hover {
  color: #DEDDE0;
}

.emoji-wrap .emoji:hover {
  box-shadow: 0 0 0px 2px rgba(255, 255, 255, 0.2);
}

.nicescroll-cursors {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: transparent !important;
}

.social-auth .font-icon {
  background-color: #304CFD;
}
.social-auth .icon-facebook {
  background-color: #3B5998;
}
.social-auth .icon-twitter {
  background-color: #55ACEE;
}
.social-auth .icon-dribbble {
  background-color: #F26798;
}
.social-auth .icon-behance {
  background-color: #4176FA;
}

/* -----------------------------------------------------------------
    - Other
----------------------------------------------------------------- */
.mapboxgl-popup-content {
  color: #44566C;
}

.back-to-top {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}

.medium-zoom-overlay {
  background: #272333 !important;
}

.nav-links .nav-previous a, .nav-links .nav-next a {
  background: #272333;
}

.post-edit-link {
  color: #fff;
}

.block-quote::before, 
blockquote::before, 
.wp-block-quote::before {
  background-image: url(../images/icon-quote.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.review-item {
  background-image: url(../images/icon-quote.svg);
  background-repeat: no-repeat;
  background-position: right 1.875rem top 1.875rem;
}

.contact-form input, .contact-form textarea {
  background-color: #2C283A;
  border-color: #2C283A;
}

.sub-menu .nav__item a {
  color: #dedde0;
}

.page-numbers, .post-page-numbers {
  color: #dedde0;
  background: #272333;
}

/* New Comapct Demo */

@media only screen and (min-width: 991px) {
  .main.theme-style-compact.main-m-alt .inner-menu.inner-menu-alt .nav {
    background-color: #302C40;
  }
  .main.theme-style-compact > .container > .row {
    background-color: #302C40;
    box-shadow: 0 2.5rem 3.125rem rgba(134, 151, 168, 0.1);
  }
  .main.theme-style-compact > .gutter-top > .row > .col-xl-3 {
    background-color: #2C283A;
  }
  .main.theme-style-compact .inner-menu.inner-menu-alt .nav__item > a.active .animated-button, 
  .main.theme-style-compact .inner-menu.inner-menu-alt .nav__item.current-menu-item > a .animated-button {
    background-color: #304CFD;
  }
  .main.theme-style-compact .inner-menu.inner-menu-alt .nav__item > a.active.dropdown-toggle::after, 
  .main.theme-style-compact .inner-menu.inner-menu-alt .nav__item.current-menu-item > a.dropdown-toggle::after {
    border-top-color: #fff;
  }
  .main.theme-style-compact.main-m-alt .inner-menu.inner-menu-alt::before {
    background-image: url(../images/nav-edge2.svg);
  }
}

.main.theme-style-compact .news-item, .main.theme-style-compact .news-item__date {
  background: #2C283A;
}

.main.theme-style-compact .elementor-widget-vcard-skills .progress {
  background: rgba(68, 86, 108, 0.1);
}

.main.theme-style-compact .elementor-widget-vcard-skills .box__second {
  background: #2C283A;
}

.case-item.case-item-compact {
  border-color: #2C283A;
}

.main.theme-style-compact .news-item .btn {
  color: #304CFD;
}

.main.theme-style-compact .news-item .btn:after {
  background: #304CFD;
}

.main.theme-style-compact .inner-menu.inner-menu-alt .nav__item a {
  color: #F1F2F4;
}

.main.theme-style-compact .inner-menu.inner-menu-alt .nav__item:hover > a {
  color: #304CFD;
}

.details-info--inline .overhead {
  color: #dedde0;
}

.details-info--inline .value-text {
  color: #F1F2F4;
}

.js-carousel-project .swiper-pagination-bullet {
  background: #2a2a2b;
}

.js-carousel-project .swiper-pagination-bullet-active {
  background: #304CFD;
}

.gallery-grid__image-wrap .icon-hover:before {
  background: #2C283A;
  color: #F1F2F4;
}

@media only screen and (max-width: 1024px) {
.nav__item>a.active, .nav__item.current-menu-item>a {
  color: #fff;
}
.dropdown-menu {
  background-color: transparent;
  box-shadow: none;
}
.nav {
  background-color: #302c40 !important;
}
}

@media only screen and (max-width: 580px) {
  .nav {
    background-color: #302C40 !important;
  }
}